@import 'reset.css';
@import 'header-section.css';
@import 'product-banner.css';
@import 'footer-section.css';
@import 'rwd/responsive.css';

html {
	font-family: sans-serif;
	scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	-o-scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}
